body{

    
    font-family: 'PT Sans', sans-serif;
    background-color: whitesmoke;
    background-size: cover;


}

.inputs h1{

     color: black;
     text-transform: uppercase;
     font-weight: 300;
     font-size: 30px;

     }


     .inputs{

	width: 800px;
	height: 500px;
	padding: 40px;
	transform: translate(-50%, -50%);
	position: absolute;
	background: royalblue;
	text-align: center;
	top: 50%;
	left: 50%;
	border-color: 
	border-radius: 15px;
	border-style: solid;
	border-color: black;

}

.inputs input[type="text"], .inputs input[type="password"], .inputs input[type="email"]{

	border:0;
	border-radius: 10px;
	background: lightblue;
	display: block;
	margin: 20px auto;
	text-align: center;
	color: white;
	border:1.5px solid white;
	padding: 14px 15px;
	width: 200px;
	outline: none;
	transition: 0.30s;
	font:arial;
	font-size: 14px;

}

.inputs input[type="text"]:focus, .inputs input[type="password"]:focus, .inputs input[type="email"]:focus{


width: 280px;
border-color: white;



}

.inputs input[type="submit"] {

    border:0;
	background: lightblue;
	display: block;
	margin: 20px auto;
	text-align: center;
	color: black;
	border:1.5px solid white;
	outline: none;
	transition: 0.30s;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	border-radius: 10px;
	cursor: pointer;
	transform: translateY(2em);
	

	}

	.inputs input[type="submit"]:hover {

  background: white;

	}

	footer{

		color:white;
		text-align: center;
        transform: translateY(39em);

	}

a{

	color: black;

}

a:hover{

	color: white;
}

#campos{

	padding: 40px;
}

#rodape{

	padding: 30px;
	color: royalblue;
}

#cemp{

	padding-left: 20px;
}
